body{
    background-color: bisque;
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

header{
    background-color:black;
    color: green;
    text-align: center;
}

main{
    background-color: lightgray;
    padding: 1em;;
}


